.cont {
	display: flex;
}

.forma,
.tabl {
	flex: 1 0 45%;
}

table,tr,td {
	width: 100%;
	height: auto;
	border: 1px solid black;
}

* {
	font: 400 16px/20px Arial,sans-serif;
}

label, 
input {
	margin: 10px 0;
}

p {
	font-size: 14px;
	font-style: italic;
}