html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	background-image: url(../files/img/head.png);
	width: 1400px;
	height: 730px;
	margin: 0 auto;
	color: white;
}

.header__container {
	width: 940px;
	margin: 0 auto;
	padding-top: 45px;
}

.header__container__logo {
	float: left;
	background-image: url(../files/img/Logo.png);
	width: 79px;
	height: 28px;
	/*background-color: black;*/
}

.header__container__menu {
	float: right;
}

.header__container__menu ul {
	margin: 0;
}

.header__container__menu ul li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 14px;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	text-transform: uppercase;
}

.header__container__menu a {
	text-decoration: none;
	color: #fff;
}

.header__container__text1 {
	font-size: 25pt;
	text-align: center;
	text-transform: capitalize;
	margin: 210px auto 50px 0;
}

.header__container__text2 {
	text-align: center;
	margin: 0 auto 50px 0;
	text-transform: uppercase;
	font-size: 40pt;
}

.header {
	font-family: Arial, sans-serif;
}

.header__container__button {
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #fed136;
	font-size: 24pt;
	padding: 20px 30px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}

.items {
	width: 1400px;
	margin: 0 auto;
}

.items__servic {
	width: 940px;
	margin: 120px 230px;
	background-color: #fff;
}

.items__servic__title {
	margin: 0 auto;
	color: #000;
	font: bold 40pt/40pt Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.items__servic p {
	text-transform: none;
	margin-top: 20px;
	color: #777777;
	font: 16pt/16pt 'Times new Roman', sans-serif;
}

.items__servic__content {
	background-color: #000;
	margin-top: 80px;
}

.items__servic__cont1,
.items__servic__cont2
.items__servic__cont3 {
	width: 270px;
	float: left;
}

.items__servic__cont2 {
	margin: 0 65px 0;
}

.items__servic__logo {
	background-image: url(../files/img/ecom1.png);
	margin: 0 auto 25px;
	width: 78px;
	height: 77px;
}

