html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	background: url(../files/img/head.png) center;
	background-repeat: no-repeat;
	height: 700px;
	background-size: cover;
	/*width: 1400px;*/
	/*height: 730px;*/
	margin: 0 auto;
	color: white;
}

.header__container {
	width: 940px;
	margin: 0 auto;
	padding-top: 45px;
}

.header__container__logo {
	float: left;
	background-image: url(../files/img/Logo.png);
	width: 79px;
	height: 28px;
	/*background-color: black;*/
}

.header__container__menu {
	float: right;
}

.header__container__menu ul {
	margin: 0;
}

.header__container__menu ul li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 14px;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	text-transform: uppercase;
}

.header__container__menu a {
	text-decoration: none;
	color: #fff;
}

.header__container__text1 {
	font-size: 25pt;
	text-align: center;
	text-transform: capitalize;
	margin: 210px auto 50px 0;
}

.header__container__text2 {
	text-align: center;
	margin: 0 auto 50px 0;
	text-transform: uppercase;
	font-size: 40pt;
}

.header {
	font-family: Arial, sans-serif;
}

.header__container__button {
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #fed136;
	font-size: 24pt;
	padding: 20px 30px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}

.serv {
	margin: 120px auto;
	width: 940px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}


.serv__par {
	color: #222;
	text-transform: uppercase;
	margin-bottom: 15px;
	font: bold 40pt/40pt Arial, sans-serif;
}

.serv__desc {
	font: 16pt/16pt 'Times New Roman', Arial, sans-serif;
	color: #777;
}

.serv__cont {
	margin-top: 80px;
}

.serv__cont__ecom {
	background: url(../files/img/ecom2.png) no-repeat top;
	width: 30%;
	margin-right: 5%;
	float: left;
}

.serv__cont__ecom:last-child {
	margin-right: 0;
	background: url(../files/img/ecom3.png) no-repeat top;
}

.serv__cont__ecom:first-child {
	background: url(../files/img/ecom1.png) no-repeat top;
}

.serv__cont__ecom h5 {
	margin-top: 100px;
	font: bold 18pt/18pt Arial, sans-serif;
	color: #222;
}

.serv__cont__ecom p {
	margin-top: 10px;
	font: 18pt/24pt 'Times New Roman', sans-serif;
	color: #777;
}

.back {
	background-color: #f7f7f7;
	width: 100%;
	overflow: hidden;
}

.port {
	margin: 120px auto;
	width: 940px;
	overflow: hidden; /*don't touch!!! it work!*/
	text-align: center;
}

.port__cont {
	margin-top: 80px;
}

.port__cont div {
	width: 290px;
	margin-right: 35px;
	float: left;
	padding: 0;
}

.port__cont div h5 {
	font: bold 18pt/24pt Arial, sans-serif;
	color: #333333;
	text-transform: capitalize;
	margin-top: 330px;
} 
.port__cont div p {
	font: 14pt/18pt 'Times New Roman', Arial, sans-serif;
	color: #737373;
	text-transform: capitalize;
	margin-bottom: 25px;
}

.port__cont_it1 {
	background: #fff url(../files/img/1.jpg) no-repeat top;
}

.port__cont_it2 {
	background: #fff url(../files/img/2.jpg) no-repeat top;
}


.port__cont_it3 {
	background: #fff url(../files/img/3.jpg) no-repeat top;
	margin-right: 0!important;
}

.port__cont_it4 {
	background: #fff url(../files/img/4.jpg) no-repeat top;
}

.port__cont_it5 {
	background: #fff url(../files/img/5.jpg) no-repeat top;
}

.port__cont_it6 {
	background: #fff url(../files/img/6.jpg) no-repeat top;
	margin-right: 0!important;
}

.port__cont_it1,
.port__cont_it2,
.port__cont_it3 {
	margin-bottom: 50px;
}


.about {
	padding-top: 80px;
	overflow: hidden;
}

.about__left,
.about__right {
	display: inline-block;
	width: 36.5%;
	float: left;
}

.about__center1 {
	float: left;
	display: inline-block;
	width: 183px;
	height: 183px;
	background: url(../files/img/about_1.jpg) no-repeat top;
	margin: 0 35px;
}

.about__center2 {
	float: left;
	display: inline-block;
	width: 183px;
	height: 183px;
	background: url(../files/img/about_2.jpg) no-repeat top;
	margin: 0 35px;
}

.about__center3 {
	float: left;
	display: inline-block;
	width: 183px;
	height: 183px;
	background: url(../files/img/about_3.jpg) no-repeat top;
	margin: 0 35px;
}

.about__center4 {
	float: left;
	display: inline-block;
	width: 183px;
	height: 183px;
	background: url(../files/img/about_4.jpg) no-repeat top;
	margin: 0 35px;
}

.about__center5 {
	display: inline-block;
	float: left;
	margin: 0 35px;
	width: 183px;
	height: 183px;
	background: url(../files/img/about_5.jpg) no-repeat center;
}

.about__left p,
.about__right p {
	font: 16pt/22pt 'Times New Roman';
	color: #777;
}

.about__left h5,
.about__right h5 {
	font: bold 18pt/25pt Arial, sans-serif;
	color: #222;
	margin-bottom: 10px;
}

.about__left{
	text-align: right;
}

.about__right {
	text-align: left;
}

.about div hr {
	width: 3px;
	border: none;
	background-color: #f1f1f1;
	height: 100%;
}

.about div hr.bot {
	margin-top: 183px;
}

.about div hr.top {
	margin-top: -80px;
	height: 80px;
}

.upper {
	text-transform: uppercase;
}

.backteam {
	background-color: #f9f9f9;
	width: 100%;
	overflow: hidden;
}

.team {
	width: 940px;
	margin: 120px auto;
	overflow: hidden;
}

.team__name {
	background: url(../files/img/team.png) no-repeat top;
	width: 33.33%;
	float: left;
	margin-top: 70px;

}

.team__text1 {
	font: bold 16pt/21pt Arial, sans-serif;
	color: #222;
	margin-top: 260px;
}

.team__text2 {
	font: 14pt/24pt Arial, sans-serif;
	color: #777;
	margin-bottom: 10px;i
}

.team__name__logot {
	display: inline-block;
	background: url(../files/img/Twitter.png);
	width: 41px;
	height: 41px;
	float: center;
	margin: 0 5px;
}

.team__name__logof {
	display: inline-block;
	background: url(../files/img/Facebook.png);
	width: 41px;
	height: 41px;
	float: center;
	margin: 0 5px;
}

.team__name__logop {
	display: inline-block;
	background: url(../files/img/Pinterest.png);
	width: 41px;
	height: 41px;
	float: center;
	margin: 0 5px;
}

.team__name__logog {
	display: inline-block;
	background: url(../files/img/Google+.png);
	width: 41px;
	height: 41px;
	float: center;
	margin: 0 5px;
}

.team__p {
	clear: both;
	font: 16pt/25pt 'Times New Roman', Arial, sans-serif;
	text-align: center;
	color: #777;
	width: 940px;
	padding-top: 50px;
}

.logos {
	width: 100%;
	background-color: #fff;
	margin: 60px auto;
	overflow: hidden;
}

.envato {
	display: inline-block;
	background: url(../files/img/envato.png) no-repeat center;
	width: 161px;
	height: 42px;
	float: center;
	margin: 0 5px;
}

.wordpress {
	display: inline-block;
	background: url(../files/img/wordpress.png) no-repeat center;
	width: 186px;
	height: 42px;
	float: center;
	margin: 0 5px;
}

.tuts {
	display: inline-block;
	background: url(../files/img/tuts.png) no-repeat center;
	width: 131px;
	height: 42px;
	float: center;
	margin: 0 5px;
}

.microlancer {
	display: inline-block;
	background: url(../files/img/microlancer.png) no-repeat center;
	width: 167px;
	height: 42px;
	float: center;
	margin: 0 5px;
}

.foo {
	background: url(../files/img/map.png) no-repeat center;
	background-size: cover;
	overflow: hidden;
}

.foo h3 {
	text-transform: uppercase;
	font: bold 40pt/40pt Arial, sans-serif;
	color: #fff;
	margin-bottom: 15px;
	margin-top: 110px;
}

.foo p {
	font: 16pt/16pt 'Times New Roman';
	color: #777;
}

.footer {
	width: 940px;
	margin: 80px auto 30px;
	overflow: hidden;
	height: 230px;
}

.footer__left {
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 10%;
	height: inherit;
}

.footer__right {
	display: inline-block;
	width: 45%;
	float: left;
	height: inherit;
	overflow: hidden;
}

.footer__left form textarea {
	width: 100%;
	font: bold 14pt/50px Arial, sans-serif;
	text-transform: uppercase;
	height: 50px;
	color: #bbb;
	padding-left: 20px;
	border: none;
	border-radius: 4px;
	resize: none;
}

.footer__left form textarea:nth-child(2) {
	margin: 30px 0;
}

.footer__right form textarea {
	width: 100%;
	font: bold 14pt/50px Arial, sans-serif;
	text-transform: uppercase;
	padding-left: 20px;
	height: 223px;
	color: #bbb;
	border: none;
	border-radius: 4px;
	resize: none;
}

.foo button {
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #fed136;
	font: bold 24pt/24pt Arial, sans-serif;
	padding: 20px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 115px;
}

.end {
	background-color: #fff;
	width: 100%;
}

.end__cont {
	width: 940px;
	margin: 40px auto;
	overflow: hidden;
}


.end__cont__copy {
	text-align: left;
	display: block;
	font: 14pt/41px Arial, sans-serif;
	color: #555;
	float: left;
	height: 41px;
	margin-right: 60px;
}

.end__cont__twit {
	display: inline-block;
	background: url(../files/img/twit.png) no-repeat center;
	width: 41px;
	height: 41px;
	float: left;
}

.end__cont__face {
	display: inline-block;
	background: url(../files/img/face.png) no-repeat center;
	width: 41px;
	height: 41px;
	float: left;
	margin: 0 5px;
}

.end__cont__pint {
	display: inline-block;
	background: url(../files/img/pint.png) no-repeat center;
	width: 41px;
	height: 41px;
	float: left;
	margin-right: 5px;
}

.end__cont__goog {
	display: inline-block;
	background: url(../files/img/goog.png) no-repeat center;
	width: 41px;
	height: 41px;
	float: left;
}