html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	background-image: url(../files/img/head.png);
	width: 1400px;
	height: 730px;
	margin: 0 auto;
	color: white;
}

.header__container {
	width: 940px;
	margin: 0 auto;
	padding-top: 45px;
}

.header__container__logo {
	float: left;
	background-image: url(../files/img/Logo.png);
	width: 79px;
	height: 28px;
	/*background-color: black;*/
}

.header__container__menu {
	float: right;
}

.header__container__menu ul {
	margin: 0;
}

.header__container__menu ul li {
	display: inline-block;
	margin-left: 40px;
	font-size: 23px;
	text-transform: uppercase;
}

.header__text1 {
	font-size: 25px;
	text-transform: capitalize;
	margin: 210px auto 0 490px;
}

.header__text2 {
	margin: 50px auto 50px 280px;
	text-transform: uppercase;
	font-size: 40px;
}

.header__button {
	text-transform: uppercase;
	width: 240px;
	height: 65;
	margin: 0 auto;
	background-color: #fed136;
	padding: 20px 25px;
}

.header__button a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin: 0 auto;
	padding: 0 auto;
}