.clock {
	display: inline-block;
	background-image: url(../img/ciferblat.png);
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	height: 476px;
	width: 476px;
	position: relative;
}

.sec {
	position: absolute;
	display: inline-block;
	background-image: url(../img/arrow_sec.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 395px;
	width: 30px;
	top: 40px;
	left: 223px;
	transform: rotate(0deg);
}

.min {
	position: absolute;
	display: inline-block;
	background-image: url(../img/arrow_min.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 308px;
	width: 37px;
	top: 83px; 
	left: 219px;
	transform: rotate(0deg);
}

.cont {
	display: flex;
	justify-content: space-around;
}
