@font-face{
	font-family: Lobster;
	src: url(./fonts/Lobster-Regular.ttf);
}
@font-face{
	font-family: bad_h;
	src: url(./fonts/BadScript-Regular.ttf);
}

@font-face{
	font-family: roboto;
	src: url(./fonts/Roboto-Regular.ttf);
}