@font-face {
    font-family: Belinda; 
    src: url(../fonts/belinda.otf);
}

@font-face {
    font-family: OS_semibold; 
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Ubuntu; 
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
	font-family: PT-sans-bold;
	src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
	font-family: PT-sans;
	src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
	font-family: Cabin;
	src: url(../fonts/Cabin-Regular.ttf);
}

@font-face {
	font-family: Nexa-heavy;
	src: url(../fonts/NexaHeavy.otf);
}

@font-face {
	font-family: Nexa-regular;
	src: url(../fonts/NexaRegular.otf);
}

.body {
	width: 948px;
	margin: 0 auto;
}

.head {
	text-align: center;
	margin: 0 auto;
	background-image: url(../img/head.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.head__logo {
	font: 52px/52px Belinda;
	color: #ffffff;
	padding-top: 65px;
	padding-bottom: 47px;
	text-align: center;
}

.head ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.head ul li {
	font: 13px/24px OS_semibold;
	justify-content: center;
	margin-right: 50px;
	list-style: none;
}

.head ul li a {
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

.head h1 {
	margin: 80px auto 45px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font: 700 53px/53px Ubuntu, sans-serif;
}

.head h3 {
	font: 700 15px/15px PT-sans-bold, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 80px;
}

.head h3 hr {
	display: inline-block;
	width: 101px;
	height: 2px;
	background-color: #ffffff;
	opacity: 0.24;
	vertical-align: sub;
	margin-right: 45px;
}

.head h3 hr:last-child {
	margin-right: 0px;
	margin-left: 45px;
}

.getButton {
	margin-bottom: 120px;
	background-color: #50c3af;
	width: 235px;
	height: 48px;
	color: #f5f5f5;
	font:700 15px/24px PT-sans-bold, sans-serif;
	border-radius: 24px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.cont1 {
	display: flex;
	justify-content: center;
	background-color: #eeeeef;
	width: 948px;
}

.item1 {
	position: absolute;
	top: -54px;
	flex: 0 1 180px;
	margin-right: 23px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	position: relative;
	text-align: center;
}

.item1:last-child{
	margin-right: 0;
}

.item1__img,
.item1__img2,
.item1__img3 {
	height: 42px;
	margin-top: 116px;
}

.item1__img {
	background: url(../img/logo1_1.png) no-repeat center;
}

.item1__img2 {
	background: url(../img/logo1_2.png) no-repeat center;
}

.item1__img3 {
	background: url(../img/logo1_3.png) no-repeat center;
}

.item1:nth-child(1),
.item1_v2:nth-child(1){
	background: url(../img/1_1.png) no-repeat top;
}

.item1:nth-child(2),
.item1_v2:nth-child(2){
	background: url(../img/1_2.png) no-repeat top;
}

.item1:nth-child(3),
.item1_v2:nth-child(3){
	background: url(../img/1_3.png) no-repeat top;
}

.h4 {
	text-transform: uppercase;
	font: 700 16px/24px PT-sans-bold, sans-serif;
	margin: 32px 0 21px;
	color: #40474e;
}

.hr hr {
	width: 135px;
	height: 2px;
	background-color: #293139;
	opacity: 0.06;
	margin-bottom: 25px;
}

.paragraph {
	color: #787b80;
	font: 400 14px/24px PT-sans, sans-serif;
}

.cont2 {
	display: flex;
	justify-content: center;
	flex: row wrap;
	background-color: #f5f5f5;
	padding-top: 65px;
	padding-bottom: 77px;
}

.item2 {
	display: flex;
	flex-flow: column nowrap;
	text-align: left;
	margin-right: 60px;
	flex: 0 1 290px;
	position: relative;
	background: url(../img/2_1.png) no-repeat top left;
}

.item2:last-child{
	margin-right: 0;
	background: url(../img/2_2.png) no-repeat top left;
}

.item2__head {
	margin-top: 210px;
	font: 700 18px/24px PT-sans-bold, sans-serif;
	color: #40474e;
	text-transform: uppercase;
}

.item2__hr hr {
	width: 100%;
	height: 2px;
	background-color: #293139;
	opacity: 0.06;
	margin: 25px 0 30px;
}

.item2__parag {
	font: 14px/24px PT-sans, sans-serif;
	color: #787b80;
}

.item2__but button{
	background-color: #50c3af;
	width: 100px;
	height: 36px;
	color: #f5f5f5;
	font: 14px/24px PT-sans, sans-serif;
	border-radius: 13px;
	border: none;
	margin-top: 35px;
	cursor: pointer;
}

.cont3 {
	background-color: #eeeeef;
	padding-top: 70px;
	padding-bottom: 65px;
}

.item3 {
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	width: 585px;
}

.item3__head {
	background: url(../img/logo3_1.png) no-repeat left top;
	padding-left: 40px;
	text-align: left;
	text-transform: uppercase;
	color: #384048;
	font: 700 18px/24px PT-sans-bold, sans-serif;
}

.item3__line hr {
	background-color: #293139;
	opacity: 0.06;
	margin: 20px 0 25px;
	height: 2px;
}

.item3__text {
	color: #787b80;
	text-align: left;
	font: 400 14px/24px PT-sans, sans-serif;
	margin-bottom: 40px;
}

.item3__but button {
	background-color: #d2d5da;
	width: 100px;
	height: 36px;
	color: #f5f5f5;
	font: 14px/24px PT-sans, sans-serif;
	border-radius: 13px;
	border: none;
	cursor: pointer;
}

.cont4 {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	width: 948px;
	padding-bottom: 50px;
}

.item1_v2 {
	position: absolute;
	top: 55px;
	flex: 0 1 180px;
	margin-right: 23px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	position: relative;
	text-align: left;
}

.item1_v2:last-child{
	margin-right: 0;
}

.item1_v2 .h4 {
	margin: 175px 0 10px;
}

.item1_v2 .hr hr{
	margin: 0 0 15px;
	width: 100%;
}

.check {
	margin-top: 25px;
	margin-bottom: 50px;
}

.check a {
	font: 400 14px/24px PT-sans, sans-serif;
	color: #50c3af;
	text-transform: none;
	text-decoration: none;
}

.cont5 {
	display: flex;
	background-color: #eaeaeb;
	opacity: 0.6;
	justify-content: center;
	padding: 65px 0 60px;
}

.item5 {
	flex: 0 1 250px;
	margin-right: 80px;
	flex-flow: column nowrap;
}

.item5:last-child {
	margin-right: 0;
}

.item5__head {
	background-image: url(../img/logo5_1.png);
}

.item5__head1 {
	background-image: url(../img/logo5_2.png);
}

.cont6 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 60px 0 60px;
	background-color: #f5f5f5;
}

.item6 {
	background: url(../img/6_1.png) no-repeat left top;
	flex: 0 1 300px;
}

.item6__head {
	background-image: none;
	margin-top: 0;
}

.c6__item6 {
	background-image: none!important;
}

.item6__p {
	margin-bottom: 30px;
}

.foo {
	background-color: #50c3af;
	padding: 50px 0 75px;
	text-align: center;
	font: 700 15px/24px PT-sans-bold, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.foo__line hr {
	background-color: #f5f5f5;
	opacity: 0.1;
	height: 2px;
	width: 250px;
}

.foo__logos {
	padding: 0 100px;
	box-sizing: border-box;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	text-transform: none;
}

.foo__logos__logo:nth-child(1) {
	font: 400 26px/26px Belinda, sans-serif;
	opacity: 0.7;
}

.foo__logos__logo:nth-child(2) {
	font: 400 26px/26px Nexa-regular, sans-serif;
	opacity: 0.7;
}

.foo__logos__logo:nth-child(3) {
	font: 400 26px/26px Cabin, sans-serif;
	opacity: 0.7;
}

.foo__logos__logo:nth-child(4) {
	font: 400 26px/26px Nexa-heavy, sans-serif;
	opacity: 0.7;
}

.copy {
	background-color: #f5f5f5;
	padding: 20px 110px 20px 50px;
	display: flex;
	justify-content: space-between;
}

.copy__text {
	color: #aaacaf;
	font: 400 13px/24px PT-sans, sans-serif;
}

.copy__text span {
	color: #787b80;
}

.copy__social a {
	text-decoration: none;
	margin-right: 15px;
}

.social {
	height: 17px;
}